*{
    font-family: sans-serif;
    font-size: 1rem;
}

/* Custom properties */
:root {
    --dark: rgb(0, 0, 0);
    --light: rgb(82, 78, 78);
    --navlight: rgb(136, 173, 214);
    --navdark: rgb(8, 8, 8);
}

.header {
    height: 100px;
    width: 100%;
    font-size: 1.75rem;
    color: var(--navlink);
    background-color: var(--navdark);    
}

.header h1 {
    display: inline-block;
    min-width: 30%;
    margin: 30px 0px;
    padding: 5px;
    text-align: right;
    font-weight: bold;
    background-color: var(--navlight);
    color: var(--navdark);
}

/* When using a class "topnav" instead of nav, it breaks. Why? */
.header nav{
    float: right;
    margin: 30px;
    padding: 5px;
    text-align: right;
}

.header li {
    display: inline-block;
    margin-right: 25px;
}

.header a {
    color: var(--navlight);
    font-size: 1.75rem;
}

.backgroundimg {
    height: 200px;
    width: 100%;
    background-image: url("../Images/mac3.jpg");
    background-position: center;
    margin-bottom: 10px;
}

.textbox {
    float: right;
    background-color: var(--navlight);
    color: var(--navdark);
    margin: 150px 20px 20px;
    padding: 10px;
    font-style: italic;
}

/* Flex layout */

.nav-section {
    display: flex;
  }

.nav-left {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
    border-right: var(--navlight) 4px solid;
    margin: 10px;
  }

.nav-right {
    flex: 70%;
    padding: 20px;
  } 

  /* More */

.nav-left h3 {
    color: var(--navlight);
    font-size: 1.75rem;
}

/* 
.AboutMeText{
    display: block;
    float: right;
    width: 80%;
    height: 150px;
    color: var(--light);
    padding: 30px;
}

.MyWork {
    flex: 30%;
    height: 800px;
    padding-right: 5px;
    margin: 10px 0px;
    border-right: var(--navlight) 4px solid;
}

.MyWork h3 {
    position: absolute;
    top: 20%;
    left: 50%;
    color: var(--navlight);
    font-size: 1.75rem;
}

.projects{
    display: 70%;   
    margin: 2% 5%;
    border-radius: 15px 50px 30px;
}

.CheatSheet{
    display: inline-block;
    height: 200px;
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url("../Images/CSS_image.jpeg");
    background-size: cover;
    background-position: center;
}

.html{
    display: flex;
    float: right;
    background-image: url("../Images/html.jpeg");
    background-size: cover;
    background-position: center;
}

.JavaScript{
    background-image: url("../Images/html.jpeg");
    background-size: cover;
    background-position: center;
}


.footer nav{
    float: right;
    margin: 30px;
    padding: 5px;
    text-align: right;
}

.footer li {
    display: inline-block;
    margin-right: 25px;
}

.footer a {
    color: var(--navlight);
    font-size: 1.75rem;
} */