*{
    font-family: sans-serif;
    font-size: 1rem;
}

/* Custom properties */
:root {
    --dark: rgb(0, 0, 0);
    --light: rgb(82, 78, 78);
    --navlight: rgb(136, 173, 214);
    --navdark: rgb(60, 67, 75);
}

.header {
    height: 70px;
    width: 100%;
    font-size: 1.75rem;
    color: var(--navlink);
    background-color: var(--navdark);    
}

.header h1 {
    display: inline-block;
    min-width: 30%;
    margin: 15px 0px;
    padding: 5px;
    /* how to make margin 10% within the header element */
    text-align: right;
    font-weight: bold;
    background-color: var(--navlight);
    color: var(--navdark);
}

/* ensure that it does not go to a new line when making the screen smaller - flex wrap?*/
.header nav {
    float: right;
    margin: 15px;
    text-align: right;
    /* flex-wrap: nowrap; */
}

.header li {
    display: inline-block;
    margin-right: 25px;
}

/* when selecting .header, why does font size not apply to a tag? (b/c of default settings, shouldn't reset sheet take over? */
.header a {
    color: var(--navlight);
    font-size: 1.75rem;
}

/* question - how to push image up? */
.backgroundimg {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/financial-blue-flat-business-background-image_194252.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    float: right;
    background-color: var(--navlight);
    color: var(--navdark);
    margin: 150px 20px 20px;
    padding: 10px;
}

/* inline-flex to keep a flex container display inline
.sidemenu {
    display: inline-block;
    border-right: var(--navlight) 3px bold;
}

.AboutMeText {
    float: right;} */

/* box vanishes when I apply a class (.sidenav), it is accurate when I apply it to the aside notion */
/* Can you use inline-block and relative together? */
/* border inline not showing */
aside{
    display: inline-block;
    position: relative;
    width: 20%;
    height: 200px;
    border-right: var(--navdark) 2px solid;
    padding-right: 5px;
}

/* can you make it position:absolute within the aside element? */
/* is this the right way to manipulate the h3 tag WITHIN the aside element  */
aside h3 {
    position: absolute;
    right: 20px;
    top: 50px;
    color: var(--navlight);
    font-size: 1.75rem;
}

/* Do you have to calculate how much px in between or can this be done automatically (flexbox) */
.AboutMeText{
    display: block;
    float: right;
    width: 80%;
    height: 200px;
    color: var(--light);
    padding: 1%;
}

/* aside nav needs to move together with work elements  */
.prio-project{
    display: block;
    float: right;
    width: 80%;
    height: 200px;
    border: black 2px solid;
}

/* spacing around image?, image element inside  */
.project1{
    height: 200px;
    width: 80%;
    float: right;
    background-image: url("../Images/css_cheat_sheet.jpeg");
    background-size: cover;
    background-position: center;
}

.non-prio-poject{

}

/* added image in html vs in css */
.project2{
    height: 100px;
    width: 40%;
    float: right;
}

.project3{
    height: 100px;
    width: 40%;
    float: right;
    background-image: url("../Images/css.jpeg");
    background-size: cover;
    background-position: center;
}

/* contact me >> not in line with menu items */
footer{
    display: block;

}